# Byte-compiled / cached files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
*.env
*.venv

# Dependency directories
node_modules/
dist/
build/

# IDE and editor config files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs and databases
*.log
*.sqlite3
*.db

# System files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Configurations
.env
*.secret
